@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    
        <a href="#" class="btn btn-info btn-sm">
            <i class="fa fa-shopping-cart fa-lg"></i> (@Model.ShoppingCart.ShoppingCartItems.Count) Shopping Cart
        </a>
  
}
