<li class="dropdown">

    <a asp-controller="Drinks"
       asp-action="Index"
       class="nav-link dropdown-toggle" data-toggle="dropdown">Drinks<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a class="dropdown-item"  asp-controller="Drinks" asp-action="List"
                   asp-route-category="@category.Name">@category.Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a class="dropdown-item"  asp-controller="Drinks" asp-action="List" asp-route-category="">View all drinks</a>
        </li>
    </ul>
</li>