@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bootstrap Practice</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-6 col-sm-4">
        <h2>Getting Started</h2>
        <p>
            That would be my first try to write something in a paragraph.
        </p>
        <p><a class="btn btn-info" href="https://icons.getbootstrap.com/" role="button">Learn more</a></p>

    </div>

    <div class="col-md-3 col-sm-4">
        <h2>Intermediate</h2>
        <p>
            Starting to feel better about bootstrap.
        </p>
        <p><a class="btn btn-info" href="https://icons.getbootstrap.com/" role="button">Still curious</a></p>

    </div>

    <div class="col-md-3 col-sm-4">
        <h2>Advanced</h2>
        <p>
            Deep diving.
        </p>
        <p><a class="btn btn-info" href="https://icons.getbootstrap.com/" role="button">I got it covered</a></p>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <blockquote>
            <p>The best way to learn is to PRACTICE</p>
            <footer>Bo</footer>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Berta</td>
                    <td>Escobar</td>
                    <td class="text-primary">berta@comunidad.es</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Antonio</td>
                    <td>Recio</td>
                    <td>antonin@comunidad.es</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td>Clement</td>
                    <td>Biscuit</td>
                    <td>bigotte@comunidad.es</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>