<div>
    <h2>All drinks are shown here.</h2>
</div>

<h2>@Model.CurrentCategory</h2>

<div class="container">
    <div class="row">
        @foreach (Drink drink in Model.Drinks)
        {
            @await Html.PartialAsync("DrinkPartial", drink)
        }
    </div>
</div>